body {
  background: #263238;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #e8e8e8;
  padding: 50px;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #2c3e50;
  background: #e8e8e8;
  line-height: 270px;
  font-size: 32px;;
  transition: opacity 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

canvas {
  border-radius: 25px;
  border: 2px solid #34495e;
  margin: 1px 0 10px;
}

.info {
  display: block;
  margin-bottom: 10px;
  color: #34495e;
  font-weight: bold;
  font-size: 24px;;
}


button {
  cursor: pointer;
}
button.square {
  position:absolute
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #606060;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
button.square:hover {
  background: yellow;
  border-color: red;
  transition: all 0.4s ease 0s;
}

button.round {
    width:80px;
      height:80px;
      background-color: #f5f5f5;
      border-radius:50%;
      border: 0px solid red;
      line-height:80px;
      text-align:center;
      vertical-align:middle;
      display:inline-block;
      font-size: 48px;

      -webkit-box-shadow: 0px 0px 15px 1px grey;
      -moz-box-shadow:    0px 0px 15px 1px grey;
      box-shadow:         0px 0px 15px 1px grey;
}

button.round:hover {
  -webkit-box-shadow: 0px 0px 15px 1px black;
  -moz-box-shadow:    0px 0px 15px 1px black;
  box-shadow:         0px 0px 15px 1px black;
}
.good, .bad {
  transform: translate(0, 10px);
}
.save:hover {
    cursor: not-allowed;
}

.load:hover {
    cursor: not-allowed;
}
